* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(242, 237, 237);
}
.main-container{
  display: flex;
  gap: 30px;
}
.box {
  display: flex;
  flex-direction: row;
    margin: 0;
  height: 50px;  
  background-color:white;
  border-style: solid;
  border-width: thin;
  border-color: rgb(210, 211, 211);
  gap: 60px;
  

}

.box .search{
  display: flex;
  flex-direction: row;
  align-items: center;
   margin-top: 10px;
   margin-left: 250px;
  width: 300px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  padding: 5px;
  gap: 5px;
}
.box .svg-containe{
  display: flex;
  gap:40px;
}
.box .home p{
  margin: 0px;
  font-size: 14px;
  color: rgb(153, 152, 152);
}
.box .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box .escalator_warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box .escalator_warning p{
  font-size: 14px;
  color: rgb(153, 152, 152);
}

.box .job{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.box .job p{
  font-size: 14px;
  color: rgb(153, 152, 152); 
}
.box .message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box .message p{
  font-size: 14px;
  color: rgb(153, 152, 152); 
}
.box .notifications{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box .notifications p{
  font-size: 14px;
  color: rgb(153, 152, 152);  
}
.box .svg-containe img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.box .image-containe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.box .image-containe p{
  font-size: 14px;
  color: rgb(153, 152, 152);   
}
.box .business-container{
  display: flex;
  gap:20px;
}
.box .business{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.box .business p{
  font-size: 14px;
  color: rgb(153, 152, 152);   
}
.box-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border-radius: 12px; */
}

.men-women {
  width: 362px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-left: 200px;
  border-radius: 12px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(214, 216, 218);
 
}
.men-women img {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  border: 5px solid white;
  margin-top: 90px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.men-women .image {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 120px;
  position: relative;
  border-radius: 12px;
 
  /* background-color: rgb(125, 150, 144); */
  background-image: linear-gradient(to right,rgb(172, 170, 170), rgb(168, 167, 165), rgb(219, 214, 214),rgb(168, 167, 165));
}
.men-women .name{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
.men-women .course{
  display: flex;
  justify-content: center;
  justify-items: center; 
}

.men-women .connection{
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  border-top-style: solid;
  border-top-width: thin;
  border-color: rgb(213, 216, 216);
  
  border-bottom-style: solid;
  border-bottom-width: thin;
  
}
.men-women .connection .text{
  margin-top: 20px;
}
  .men-women .primium{
    height: 100px;
  
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: rgb(213, 216, 216);
  }
  .men-women .primium p{
    color: rgb(161, 161, 161);
  }
  .men-women .primium .text{
   padding-top: 30px;
   padding-left: 10px;
  }
  .men-women .primium .text h5{
    font-size: 17px;
  }
  .men-women .svg{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  .box-1{
    display: flex;
    flex-direction: column;
    width: 362px;
    background-color: white;
    margin-left: 200px;
    border-radius: 12px;
   
    
  }
  .box-1 .text {
    padding: 10px;
  }
  .box-1 p{
    padding: 5px;
    color: rgb(48, 121, 216);
  }
  .box-1 .add {
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 250px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
  }
  .box-1 .event{
    display: flex;
    flex-direction: row;
  }
  .box-1 .add p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: black;
  }
  .box-1 .discover{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-top-width: thin; 
    border-color: rgb(213, 216, 216);
    padding: 10px;
    font-size: 20px;
  }
  .box-2 {
    display: flex;
    flex-direction: column;
  }
  .hiring{
    display: flex;
    flex-direction: column;
    /* align-items: center; *//* text-
    align: center; */
    /* justify-content: center; */
    border-style: solid;
    border-width: thin;
    width: 550px;
    height: 205px;
    margin-top: 50px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(214, 214, 214);
    padding: 15px;
  }
  .hiring img {

    width: 80px;
    height: 80px;
    border-radius: 100%; 
     /* margin-left: 10px; */
     margin-left: 230px; 
   
  }
  .hiring .image {
    /* height: 90px; */
    display: flex;
     align-items: center;
    text-align: center;
    justify-content: center;
  }
  .hiring .text {
    text-align: center;
    justify-content: center;
  }

  .hiring .text h5{
    font-size: 18px;
    padding: 5px;

  }
  .hiring .text p{
    font-size: 18px;
    padding: 5px; 
  }
  .hiring .yes-no{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .hiring .yes-no  h5{
    display: flex;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    border-color: rgb(190, 191, 192);
    width: 250px;
    border-radius: 50px;
    padding: 5px;
  }

   .box-3{
    display: flex;
    flex-direction: column;
    width: 550px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 12px;
    border-color: rgb(217, 218, 219);
    padding: 10px;
    margin-top: 5px;
    /* gap: 20px; */
  }
  .box-2 .box-3  img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .box-2 .box-3 .image{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .box-2 .box-3 .image .ai{
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: rgb(190, 191, 192);
    width: 459px;
    border-radius: 30px;
    border-radius: 50px;
    padding: 5px; 
  }
  .box-2 .box-3 .image .ai p{
    padding: 12px;
  }
  .box-3 .svg {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
   
  }
  .box-3 .svg .media {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .box-3 .svg .event {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .box-3 .svg .articale {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  .box-4 {
    width: 550px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
  }
  .box-4 .person-container{
   padding: 10px;
   border-bottom-style: solid;
   border-bottom-width: thin;
   border-color: rgb(222, 223, 223);
  }
  .box-4 .person-container .person img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .box-4 .person-container .person{
    display: flex;
    flex-direction: row;
  }
  .box-4 .person-container .person .svg{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }
  .box-4 .person-container .text {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .box-4 .person-container .text p {
    font-size: 15px;
    color: rgb(160, 161, 161);
  }
  .box-4 img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  .box-4 .image{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
  }
  .box-4 .image .text {
    display: flex;
    flex-direction: row;

  }
  .box-4 .image .text-container{
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  .box-4 .image .text-container .p{
    font-size: 15px;
    color: rgb(177, 179, 179);
  }
  .box-4 .image .dotted {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .box-4 .image .dotted h5{
    color: rgb(32, 126, 189);
  }

  .garden img{
   width: 550px;
   height: 600px;
   border-radius: 0;
  }
   .total-circule {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgb(222, 223, 223);
   }
  .circule {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(135, 149, 248);
  }
  .circule .thumb {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
  }
  .circul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(227, 113, 75);
  }
  .circul .huart {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
  }

  .circule + .circul{
    margin-left: -0.3rem;
  }
  .total-circule .text {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    gap: 10px;
  }
  .total-svg {
    display: flex;
    flex-direction: row;
    gap: 142px;
    padding: 20px;
  }
  .thum {
    display: flex;
    flex-direction: row;
    gap: 10px;
  } 
  .thum p {
    display: flex;
    align-items: center;
    color: rgb(98, 99, 99);
  } 
  .total-svg .comment {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }
  .total-svg .comment p{
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102); 
  }
  .total-svg .send {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .total-svg .send p{
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102);  
  }

  .box-6 {
    width: 305px;
    height: 600px;
    background-color:white;
    border-radius: 12px;
    margin-top: 50px;
   padding: 10px;
    
  }
  .box-6 h4 {
    color: rgb(132, 133, 132);
  }
  .box-6 .text-container {
    gap: 10px;
  }
  .box-6 .text-container .text {
    padding-top: 10px;
  }
  .box-6 .text-container .text p{
    color: rgb(136, 137, 137);
  }
  .box-6 .text-container .ip p{
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .box-6 .color-box img{
    width: 30px;
    height: 30px;
  }
  .box-6 .color-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .box-6 .color-box .text {
    display: flex;
    flex-direction:column;
  }
  .box-6 .color-box .crow p{
    font-size: 15px;
    color: rgb(135, 137, 137);
  }

 



