* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
   
    background-color: rgb(198, 206, 212);
    flex-direction: column;
    position: relative;
    gap: 20px;

}
.card3{
    display: flex;
    width: 380px;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
    /* padding: 5px; */

   
}

.card3 .im {
    /* width: 10px;
    height: 22px; */
    flex-direction: column;
    /* justify-content: end; */
}
.card3 .im .im1 .im2{
    text-align: start;
    width: 100px;
    /* justify-content: end; */
    align-content: flex-end;
}

.card4{
    display: flex;
    width: 400px;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
}
.card4 .text {
   margin-top: 50px;
   margin-left: 20px;
   font-size: 18px;
   font-weight: bold;
}


.card5 {
    display: flex;
    width: 362px;
    background-color: white;
    margin: 20px;
    border-radius: 12px;
   
}
 .ticket-header {
    box-shadow: 1px 8px 16px rgba(27, 26, 26, 0.1);
    margin: 10px;
    width: 250px;
    height: 40px;
    /* padding: 10px; */
 }
 .image1{
    width: 80px;
    height: 40px;
 }


 .card6 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 362px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .card6 img {
    width: 50px; 
    height: 50px;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
  }
  .card6 .text-containe{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card6 h4 {
    width: 150px; 
  }
  
  .card6 p {
    width: 150px;
    font-size: 14px;
    color: #888;
   
  }
  
  .card6 .follow {
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
  }



  .card7{
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    width: 362px;
    background-color: white;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
   
  }
.card7 img {
    width: 50px; 
    height: 50px;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
    
}
.card7 .joreme-text {
    display: flex;
    flex-direction: row;
}
.card7 .imag{
    width: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.card7 .text {
width: 280px;
}
.card7 .total-margin{
    margin: 5px;
}


.card8{
    display: flex;
    width: 362px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 12px;
    justify-content: space-between;
}
.card8 img {
    width: 80px;
    height: 40px;
    border-radius: 12px;
    margin-top: 30px;
}
.card8 .clock{
    display: flex;
    width: 80px;
    background-color:black;
    color: white;
    text-align: center;
   /* margin-left: 55px; */
    padding: 5px;
    /* flex-direction: column; */
}
.card8 .direc-column {
    width: 150px;
    display: flex;
    height: 79px;
    flex-direction: column;
    margin: 10px;
    /* width: 150px; */
}
.card8 .dotted {
    margin-top: 35px;
    width: 24px;
    height: 24px;
    
}

.card9 {
    display: flex;
    width: 362px;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}
.card9 .imag{
    display: flex;
   flex-direction: row;
    padding-top: 10px;
    
}
.card9 h4{
    margin-left: 5px;
}


.card10 {
    display: flex;
    width: 362px;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    text-align: start;
    border-radius: 12px;
}
.card10 .svg{
    width: 24px;
    height: 24px;
    padding: 10px;
   
}
.card10 .text{
 width: 345px;
 padding: 10px;
 margin-top: 15px;
}


.card11 {
    display: flex;
    width: 362px;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    text-align: start;
    justify-content: space-between;
    border-radius: 12px;
}
.card11 .svg{
   display: flex;
   flex-direction: rew;
   margin: 5px;
}
.card11 h2{
    margin-left: 5px;   
   }
   

   .card12 {
    display: flex;
    width: 362px;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    /* text-align: start; */
    /* justify-content: space-between; */
    border-radius: 12px;
}   
.card12 p{
    font-size: 14px;
    color: #888;
}
.card12 h4 {
    padding: 15px 20px;
    height: 50px;
    background-color: #5d51c9;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card12 .svg{
 margin-top: 10px;
 margin-bottom: 10px;
}
.card12 h5{
    font-size: 18px;
}
.card12 .svg1 {
display: flex;
flex-direction: row;
}
.card12 h3 {
    font-size: 25px;
}
/*   
start card13 */
.card13 {
    display: flex;
    width: 362px;
    background-color: white;
    flex-direction: column;
    margin: 20px;
    /* padding: 15px; */
    border-radius: 12px;   
}
.card13  img {
    width: 362px;
    text-align: start;
}
.image-container {
    position: relative;
    display: inline-block;
  }
.card13 .clock {
    position: absolute;
        display: flex;
        width: 80px;
        background-color:black;
        color: white;
        text-align: center;
        padding: 5px;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        margin: 10px;
}  

.card13 h3 {
    font-size: 25px;
}
.card13 .p{
    font-size: 15px;
    color: #888;
}
.card13 .text-containe {
    margin: 10px;
}
.card13 p{
    margin: 5px;
}

.card13 .im2{
    /* display: flex; */
    margin-left: 230px;
}
.card13 .image1-containe {
    display: flex;
    flex: row;
    margin: 10px;
}



/* start card14 */
.card14 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 362px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .card14 img {
    width: 50px; 
    height: 50px;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
  }
  .card14 .text-containe{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card14 h4 {
    width: 150px; 
  }
  
  .card14 p {
    width: 150px;
    font-size: 14px;
    color: #888;
   
  }
  
  .card14 .follow {
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
  }

  /* .card14 .text_{
   display: flex;
   flex-direction: column;
   
  } */


  .card15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 362px;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
    gap: 10px;
  }
.card15 img {
    width: 50px; 
    height: 50px;
    border-radius: 100%;
   
   
}

.card15 .image-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.card15 h3{
    font-size: 25px;
}
.card15 p{
    padding: 10px;
}

.card15 h4 {
    padding: 15px 20px;
    height: 50px;
    background-color: #5d51c9;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.card16 {
    display: flex;
    flex-direction: column;
    width: 362px;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    gap: 10px;
}
.card16 h3{
    font-size: 25px;
}

.card16 .text-containe{
    font-size: 14px;
    color: #888;
}
.card16 .svg-container{
    display: flex;
    flex-direction: row;
    border-top: solid;
    border-color: #e6e5e5;
    padding: 10px;
}
.card16 .text-cotainer{
    padding: 10px;
}
.card16 .svg{
    
  margin-left: 260px;
}

.card17 {
    display: flex;
    flex-direction: column;
    width: 362px;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    gap: 10px;
}  
.card17 .text-containe{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}
.card17 .chose {
    width: 70px;
    padding: 10px 10px;
    background-color: #3513f8;
    color: white;
    border-radius: 5px;
    text-align: center; 
    margin-left: 10px;
}
.card17 .Launch-svg {
    display: flex;
    flex-direction: row;
    border-top: dotted; 
    border-color: #ddd;
    padding: 10px;
}
.card17 h5{
    margin-left: 5px;
    font-size: 16px;
    color: #555454;
}
