* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 12px;
    background-color: #F4F4F2;
    /* font-family: 'Roboto', sans-serif; */
}
.total-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.chip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
 .chip{
display: flex;
align-items: center;
justify-content: center;
border-style: solid;
border-width: thin;
padding: 9px 12px;
border-radius: 15px;
font-size: 18px;
flex: 1 1 100%;  
border-color: rgb(243, 247, 247);
background-color: rgb(201, 201, 201);
}
#deshboard {
    color: white;
    background-color: #0A6847;
}
.top{
    display: flex;
    flex-direction: column;
    grid-area: 10px;
    gap: 15px;
}
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 13px;
    padding: 10px;
    gap: 12px;
    flex: 1 1 100%;
    border: 3px solid rgb(4, 99, 41);
}

.people1 img {
 width: 100px;
  height: 100px; 
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(186, 188, 189);
}
.taniya h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.Manage-profile {
    border: none;
     width: 100%; 
    border-radius: 16px;
    color: white;
    font-weight: 600;
    padding: 8px 0px;
    background-color: #0A6847;
}
.manage{
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.price-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.LinkedIn-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.LinkedIn img {
    width: 20px;
    height: 20px;
}
.LinkedIn p{
    font-size: 18px;
}
.text-containe {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.mock h2{
    color: green;
}
.explore-arrow {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(187, 216, 187);
    /* padding: 12px 12px; */
   border-bottom-left-radius:13px ;
   border-bottom-right-radius:13px ;
    gap: 10px;
}
.explore-arrow .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-card h3 {
   
    padding: 8px 12px;
}
.price-card1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 13px;
    background-color: rgb(187, 216, 187);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}
.price-card1 .explore-arrow {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    /* padding: 12px 12px; */
   border-bottom-left-radius:13px ;
   border-bottom-right-radius:13px ;
    gap: 10px;  
}
.price-card1 .explore-arrow h3{
    padding: 12px 12px;
} 

.boton-conatine {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #05683e;
}
.middle-boton {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    color: white;
    padding: 9px 13px;
}
.bottom {
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    gap: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.bottom .h3 h3 {
    width: 100%;
    color: white;
    padding: 15px 15px;
    background-color: #05683e;
    border-top-left-radius:13px ;
    border-top-right-radius:13px ;
}
.total-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 100%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}
.box-1 .LinkedIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.LinkedIn-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
.box-1 .h3 {
    color: #0b0c0b;
}
.box-1 .circule {
 display: flex;  
 align-items: center; 
 text-align: center;
 justify-content: center;
 width: 40px;
 height: 40px;
 border-radius: 100%;
 background-color: rgb(133, 134, 134);
}
.box-1 .circule h4 {
    color: #0A6847;
}
.middle-part {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.innder-bar {
    height: 20px;
}

.bar-container {
    background-color: #C7C8CC;
}


@media (min-width: 700px) { 
.chip-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }

    .chip  {
        flex: 1 1 30%;
    }
    .top {
        flex-direction: row;
    }
    .profile-card {
        flex: 1 1 40%;
    }
    .boton-conatine {
        display: flex;
        justify-content: end;
    }
    .middle-boton {
        width: 30%;
        text-align: right;
    }
    .total-div {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box-1 {
        flex: 1 1 45%;
    }
}

@media (min-width: 1200px) { 

    .chip-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 15px;
    }

    .chip {
        flex: none;
        padding: 9px 12px;
    }
    .top {
        flex-direction: row;
    }
    .profile-card {
        flex: 1 1 23%;
    }
    .boton-conatine {
        display: flex;
        justify-content: end;
    }
    .middle-boton {
        width: 15%;
        text-align: right;
    }
    .total-div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding: 20px;
    }
    .box-1 {
        flex: 1 1 23%;
    }
}

